body {
    background-color: darkslategray;
    text-align: center;
    margin: 12px;
    font-size: 12px;
}
nav {
    font-size: 400%;
    color: white;
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
th, td {
    border: thick solid white;
    background-color: #437070;
    color: white;
    font-size: 400%;
    padding: 3px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 400%;
}
h3 {
    text-align: center;
    color: white;
    font-size: 100%;
}

/***************************
    Site Design CSS
***************************/

#box {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  padding: 2em;
  color: #333;
  text-align: left;
  overflow: visible;
}

/***************************
    Google Table CSS
***************************/

.google-visualization-table-tr-even,
.google-visualization-table-tr-even td,
.google-visualization-table-tr-even-nonstrict {
  background-color: #fff !important;
  color: #333 !important;
}

.google-visualization-table-tr-odd,
.google-visualization-table-tr-odd td,
.google-visualization-table-tr-odd-nonstrict {
  background-color: #fff !important;
  color: #333 !important;
}

.google-visualization-table-tr-sel,
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-sel-nonstrict {
  background-color: #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-over,
.google-visualization-table-tr-over td,
.google-visualization-table-tr-over-nonstrict {
  background-color: #333 !important;
  color: #fff !important;
}

.google-visualization-table-td,
.google-visualization-table-th {
  border: 1px solid #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-head,
.google-visualization-table-tr-head td,
.google-visualization-table-tr-head-nonstrict {
  background-color: #333 !important;
  background-image: none !important;
  color: #fff !important;
}

.google-visualization-table .gradient {
  background-image: none !important;
}
