body {
    background-color: black;
    text-align: center;
    margin: 12px;
    font-size: 12px;
}
nav {
    font-size: 400%;
    color: white;
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: white;
    font-size: 400%;
}
h3 {
    text-align: center;
    color: white;
    font-size: 100%;
}

table {
    border: 1px solid white;
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.google-visualization-table-td {
    color: white;
    /*font-size: 280% !important;*/
    font-weight: bold;
    background-color: darkslategray;
    background: none darkslategray !important;
    padding: 2px !important;
    border: 1px solid white !important;
    white-space: nowrap !important;
}
