body {
    font-family: 'Tahoma';
    background-color: #000034;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: white;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 175%;
}
table {
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    padding: 10px;
}
th, td {
    font-size: 120%;
    vertical-align: middle;
    text-align: center;
}
.section {
    text-align: center;
    background-color: #777;
    font-size: 250%;
    border: 5px solid white;
    margin-bottom: 40px;
}
.indent {
    padding-left: 25px;
    text-align: left;
}
.indent-lrg {
    padding-left: 25px;
    font-size: 200%;
    font-weight: bold;
    text-align: left;
}
.bold {
    font-weight: bold;
}
.bold-lrg {
    font-weight: bold;
    font-size: 200%;
}
.left {
    text-align: left;
}
.collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
    padding-top: 15px;
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    font-size: 175%;
    font-weight: bold;
    text-align: left;
}
.collapsible:after {
    content: url(images/plus.png);
    float: right;
}
.active:after {
    content: url(images/minus.png);
}
.current-wind {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#picTimestamp {
    color: lightblue;
    font-size: 100%;
    font-weight: bold;
}