body {
    font-family: 'Tahoma';
    background-color: #000034;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    color: white;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
table {
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    padding: 10px;
}
th, td {
    font-size: 120%;
    vertical-align: middle;
    text-align: center;
}
.noborder {
    border: none;
    padding-top: 40px;
}
h2 {
    font-weight: normal;
}
.vert-top {
    vertical-align: top;
}
.vert-bottom {
    vertical-align: bottom;
}
.vert-mid {
    vertical-align: 50%;
}
.verticalpad {
    margin-top: 40px;
}
.indent {
    padding-left: 25px;
    text-align: left;
}
.bold {
    font-weight: bold;
}
.medium {
    font-size: 150%;
}
.heading {
    font-size: 200%;
}
.large {
    font-size: 230%;
}
.xlarge {
    font-size: 300%;
}
.wndspd {
    font-size: 350%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.yellow {
    color: yellow;
}
.ltblue {
    color: lightblue;
}
.gust {
    color:lightcoral;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    font-size: 300%;
    font-weight: bold;
    text-align: left;
    margin-top: 40px;
}
.collapsible:after {
    content: url(images/plus.png);
    float: right;
}
.active:after {
    content: url(images/minus.png);
}
.collapse-contents {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
hr.thick {
    border: 5px solid white;
}
#windy {
    width: 100%;
    height: 900px;
}
