body {
    font-family: 'Tahoma';
    background-color: #000034;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: white;
}
a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
h1 {
    text-align: center;
    color: white;
    font-size: 200%;
}
td.indent {
    padding-left: 25px;
}
td.indent-lrg {
    padding-left: 25px;
    font-size: 200%;
    font-weight: bold;
}
td.subscript {
    text-align: center;
    font-size: 100%;
}
td.bold {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}
th, td {
    font-size: 120%;
    vertical-align: middle;
}
.bottom-pad {
    margin-bottom: 3px;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 150%;
}
.collapsible:after {
  content: '\002B';
  color: yellow;
  font-weight: bold;
  float: right;
}
.active:after {
  content: "\2212";
}
.current-wind {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#picTimestamp {
    color: lightblue;
    font-size: 100%;
    font-weight: bold;
}